<nav>
  <img src="./assets/img/Join logo vector.svg" alt="" />
  <div id="temp-reiter-container">
    <div
      id="temp-summary"
      class="temp-reiter"
      onclick="window.location.href='summary.html'"
    >
      <div class="temp-reiter-links">
        <img
          id="summary-icon-img"
          class="temp-icon-imgs"
          src="./assets/img/summary.png"
        />
        <img
          id="summary-icon-img-hover"
          class="temp-icon-imgs temp-icon-hover-img"
          src="./assets/img/hover/sumarry-Hover.png"
        />
        <p>Summary</p>
      </div>
    </div>

    <div
      id="temp-board"
      class="temp-reiter"
      onclick="window.location.href='board.html'"
    >
      <div class="temp-reiter-links">
        <img
          id="board-icon-img"
          class="temp-icon-imgs"
          src="./assets/img/Board.png"
        />
        <img
          id="board-icon-img-hover"
          class="board-icon-imgs temp-icon-imgs temp-icon-hover-img"
          src="./assets/img/hover/board-hover.png"
        />
        <p>Board</p>
      </div>
    </div>

    <div
      id="temp-add-task"
      class="temp-reiter"
      onclick="window.location.href='add_task.html'"
    >
      <div class="temp-reiter-links">
        <img
          id="add-task-icon-img"
          class="temp-icon-imgs"
          src="./assets/img/Add Task.png"
        />
        <img
          id="add-task-icon-img-hover"
          class="temp-icon-imgs temp-icon-imgs temp-icon-hover-img"
          src="./assets/img/hover/addTastk-hover.png"
        />
        <p>Add Task</p>
      </div>
    </div>

    <div
      id="temp-contacts"
      class="temp-reiter"
      onclick="window.location.href='contacts.html'"
    >
      <div class="temp-reiter-links">
        <img
          id="contacts-icon-img"
          class="temp-icon-imgs"
          src="./assets/img/contacts.png"
        />
        <img
          id="contacts-icon-img-hover"
          class="temp-icon-imgs temp-icon-imgs temp-icon-hover-img"
          src="./assets/img/hover/contacts-hover.png"
        />
        <p>Contacts</p>
      </div>
    </div>
  </div>

  <div id="impressum-container">
    <div
      id="temp-legal-notice"
      class="temp-reiter"
      onclick="window.location.href='legal_notice.html'"
    >
      <div class="temp-reiter-links">
        <img
          id="legal-notice-img"
          class="temp-icon-imgs"
          src="./assets/img/impressum-icon.png"
        />
        <p>Legal notice</p>
      </div>
    </div>
  </div>
</nav>
