<nav class="nav-desktop">
  <img src="./assets/img/Join logo vector.svg" alt="" />

  <div id="temp-reiter-container">
    <div
      id="temp-summary"
      class="temp-reiter"
      [class.activeLink]="router.url === '/panel/summary'"
      routerLink="/panel/summary"
    >
      <div class="temp-reiter-links">
        <img
          id="summary-icon-img"
          class="temp-icon-imgs"
          src="./assets/img/summary.png"
        />
        <img
          id="summary-icon-img-hover"
          class="temp-icon-imgs temp-icon-hover-img"
          [class.display-unset]="router.url === '/panel/summary'"
          src="../../../assets/img/hover/sumarry-Hover.png"
        />
        <p [class.txtWhite]="router.url === '/panel/summary'">Summary</p>
      </div>
    </div>

    <div
      [class.activeLink]="router.url === '/panel/board'"
      routerLink="/panel/board"
      id="temp-board"
      class="temp-reiter"
    >
      <div class="temp-reiter-links">
        <img
          id="board-icon-img"
          class="temp-icon-imgs"
          src="./assets/img/Board.png"
        />
        <img
          id="board-icon-img-hover"
          class="board-icon-imgs temp-icon-imgs temp-icon-hover-img"
          [class.display-unset]="router.url === '/panel/board'"
          src="./assets/img/hover/board-hover.png"
        />
        <p [class.txtWhite]="router.url === '/panel/board'">Board</p>
      </div>
    </div>

    <div
      id="temp-add-task"
      class="temp-reiter"
      [class.activeLink]="router.url === '/panel/add-task'"
      routerLink="/panel/add-task"
    >
      <div class="temp-reiter-links">
        <img
          id="add-task-icon-img"
          class="temp-icon-imgs"
          src="./assets/img/Add Task.png"
        />
        <img
          id="add-task-icon-img-hover"
          class="temp-icon-imgs temp-icon-imgs temp-icon-hover-img"
          src="./assets/img/hover/addTastk-hover.png"
          [class.display-unset]="router.url === '/panel/add-task'"
        />
        <p>Add Task</p>
      </div>
    </div>

    <div
      id="temp-contacts"
      class="temp-reiter"
      [class.activeLink]="router.url === '/panel/contacts'"
      routerLink="/panel/contacts"
    >
      <div class="temp-reiter-links">
        <img
          id="contacts-icon-img"
          class="temp-icon-imgs"
          src="./assets/img/contacts.png"
        />
        <img
          id="contacts-icon-img-hover"
          class="temp-icon-imgs temp-icon-imgs temp-icon-hover-img"
          src="./assets/img/hover/contacts-hover.png"
          [class.display-unset]="router.url === '/panel/contacts'"
        />
        <p>Contacts</p>
      </div>
    </div>
  </div>

  <div id="impressum-container">
    <div
      id="temp-legal-notice"
      class="temp-reiter"
      [class.activeLink]="router.url === '/panel/legal-notice'"
      routerLink="/panel/legal-notice"
    >
      <div class="temp-reiter-links">
        <img
          id="legal-notice-img"
          class="temp-icon-imgs"
          src="./assets/img/impressum-icon.png"
          [class.display-unset]="router.url === '/panel/legal-notice'"
        />
        <p>Legal notice</p>
      </div>
    </div>
  </div>
</nav>

<!-- Mobile version -->

<nav class="nav-mobile">
  <div
    class="nav-mobile-reiter"
    [class.activeLink]="router.url === '/panel/summary'"
    routerLink="/panel/summary"
  >
    <img src="./assets/img/summary.png" />
    <p>Summary</p>
  </div>
  <div
    class="nav-mobile-reiter"
    [class.activeLink]="router.url === '/panel/board'"
    routerLink="/panel/board"
  >
    <img src="./assets/img/Board.png" alt="" />
    <p>Board</p>
  </div>
  <div
    class="nav-mobile-reiter"
    [class.activeLink]="router.url === '/panel/add-task'"
    routerLink="/panel/add-task"
  >
    <img src="./assets/img/Add Task.png" alt="" />
    <p>Add Task</p>
  </div>
  <div
    class="nav-mobile-reiter"
    [class.activeLink]="router.url === '/panel/contacts'"
    routerLink="/panel/contacts"
  >
    <img src="./assets/img/contacts.png" alt="" />
    <p>Contacts</p>
  </div>
</nav>
