<div class="main-container">
  <div id="add-contakt-modal">
    <div class="add-contacts-container">
      <div class="add-contact-greeting-container">
        <img src="./assets/img/join-icon weiss.png" />
        <h1><span id="header-add-edit">Add</span> contact</h1>
        <p id="header-text">Tasks are better with a team!</p>
        <hr class="add-contact-hr" />
      </div>
      <div class="add-contact-form-container">
        <div id="contact-icon" class="contact-member-icon">
          <img src="./assets/img/member-icon.png" />
        </div>
        <form
          #myForm="ngForm"
          (ngSubmit)="onSubmit(myForm)"
          class="add-contact-form"
        >
          <div class="input-container">
            <input
              id="contactName"
              type="text"
              name="contact_name"
              placeholder="Name"
              [(ngModel)]="inputName"
              required
              minlength="2"
              pattern="^[a-zA-Z]+ [a-zA-Z]+$"
            />
            <span
              *ngIf="
                myForm.form.controls['contact_name']?.touched &&
                myForm.form.controls['contact_name']?.invalid
              "
              id="contactNameError"
              class="error-message"
              >Please enter a first- and lastname: John Doe</span
            >
            <img
              class="add-contact-img"
              src="./assets/img/member-icon-klein.png"
              alt=""
            />
          </div>
          <div class="input-container">
            <input
              id="contactEmail"
              type="email"
              name="contact_email"
              placeholder="Email"
              [(ngModel)]="inputMail"
              required
              email
              minlength="5"
              [pattern]="authService.emailRegex"
            />
            <span
              *ngIf="
                myForm.form.controls['contact_email']?.touched &&
                myForm.form.controls['contact_email']?.invalid
              "
              id="contactEmailError"
              class="error-message"
              >Please enter a correct email</span
            >
            <img
              class="add-contact-img"
              src="./assets/img/email-logo.png"
              alt=""
            />
          </div>
          <div class="input-container">
            <input
              id="contactPhone"
              type="number"
              name="contact_phone"
              placeholder="Phone"
              [(ngModel)]="inputNumber"
              required
              minlength="6"
            />
            <span
              *ngIf="
                myForm.form.controls['contact_phone']?.touched &&
                myForm.form.controls['contact_phone']?.invalid
              "
              id="contactPhoneError"
              class="error-message"
              >Please enter a correct phone number</span
            >
            <img
              class="add-contact-img"
              src="./assets/img/phone-icon.png"
              alt=""
            />
          </div>
          <div id="btn-add" class="btn">
            <button (click)="closeModal()" class="add-contact">
              Cancel
              <img src="./assets/img/close-icon.png" alt="" />
            </button>
            <button type="submit" class="create-contact">
              Create contact
              <img src="./assets/img/chack-icon.png" alt="" />
            </button>
          </div>
          <div id="btn-edit" class="btn displaynone">
            <div class="btn">
              <button onclick="deleteContact(contact)" class="add-contact">
                Delete
              </button>
              <button onclick="saveContact(contact)" class="create-contact">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
      <button (click)="closeModal()" class="close">
        <img
          class="close-icon"
          src="./assets/img/close-icon.png"
          alt="close-icon"
        />
      </button>
    </div>
  </div>
  <div class="content" id="contakt-mobiel">
    <button (click)="openModalAddContakt()" class="contact-btn">
      <span class="btn-deskription">New contact</span>
      <img src="./assets/img/memberaddweiss.png" />
    </button>
    <div class="contacts-content">
      <div id="contacts-list">
        <div
          *ngFor="let contact of sortedContacts; let i = index"
          class="contact-block"
        >
          <!-- Erste Initiale anzeigen, wenn sich die Gruppe ändert -->
          <div *ngIf="contact.showInitial" class="contact-list-first-latter">
            {{ contact.firstInitial.toUpperCase() }}
          </div>
          <hr *ngIf="contact.showInitial" class="contact-list-hr" />

          <!-- Kontaktblock -->
          <div class="contacts-list-item">
            <div #contactIcon class="contact-list-icon">
              {{ contact.firstInitial }}{{ contact.secondInitial }}
            </div>
            <div>
              <div class="contacts-list-item-name">{{ contact.username }}</div>
              <div class="contacts-list-item-email">{{ contact.email }}</div>
            </div>
          </div>
        </div>
      </div>

      <div id="contact-m" class="contact">
        <div id="back-to-contancts" class="back">
          <img src="./assets/img/back-icon.png" alt="" />
        </div>
        <div class="contact-header-title">
          <div class="contact-header-title-icon">Contacts</div>
          <hr class="contact-header-hr" />
          <div class="contact-header-title-name">Better with a team</div>
        </div>
        <div id="contact-content"></div>
      </div>
    </div>
  </div>
  <div [@openClose]="isOpen ? 'open' : 'closed'" class="message-box">
    <span class="message">Contact successfully created</span>
  </div>
</div>
