<div class="main-container">
  <app-add-contacts-modal></app-add-contacts-modal>
  <app-show-contacts-modal
  [@contactModalToggleAnimation]="
    helpers.contactsModalControls.showContactInfo ? 'open' : 'closed'
  "
></app-show-contacts-modal>
  <div class="content" id="contact-mobile">
    <button type="button" (click)="openAddContactModal()" class="contact-btn">
      <span class="btn-description">New contact</span>
      <img src="./assets/img/memberaddweiss.png" />
    </button>
    <div class="contacts-content">
      <div id="contacts-list">
        <div
          *ngFor="let contact of sortedContacts; let i = index"
          class="contact-block"
        >
          <div *ngIf="contact.showInitial" class="contact-list-first-letter">
            {{ contact.firstInitial.toUpperCase() }}
          </div>
          <hr *ngIf="contact.showInitial" class="contact-list-hr" />

          <!-- Kontaktblock -->
          <div (click)="showContactInfo(contact)" class="contacts-list-item">
            <div
              [style.background-color]="contact.color"
              #contactIcon
              class="contact-list-icon"
            >
              {{ contact.firstInitial }}{{ contact.secondInitial }}
            </div>
            <div>
              <div class="">{{ contact.username }}</div>
              <div class="contacts-list-item-email">{{ contact.email }}</div>
            </div>
          </div>
        </div>
      </div>
      <div id="contacts-modal">
        <div class="contact-header-title">
          <div class="contact-header-title-icon">Contacts</div>
          <hr class="contact-header-hr" />
          <div>Better with a team</div>
        </div>
      </div>
 
    </div>
    <app-msg-box
      [@openClose]="helpers.isOpen ? 'open' : 'closed'"
    ></app-msg-box>
  </div>
</div>
