<div class="main-container">
  <app-header></app-header>
  <form
    id="login-form"
    class="login-form"
    #myForm="ngForm"
    (ngSubmit)="onSubmit(myForm)"
  >
    <div class="input-headline">
      <h1 class="typo2t1 txtBlack">Log In</h1>
      <hr class="form-hr" />
    </div>
    <div class="login-remember-content">
      <div class="input-container">
        <input
          type="email"
          id="loginEmail"
          class="inputTextStyle"
          name="email"
          placeholder="Email"
          [(ngModel)]="inputMail"
          [pattern]="authService.emailRegex"
          required
          email
        />
        <div
          *ngIf="
            myForm.controls['email']?.invalid &&
            myForm.form.controls['email']?.touched
          "
          class="input-error"
        >
          Please type a valid email
        </div>
        <img
          class="login-img"
          src="./assets/img/email-logo.png"
          alt="email-logo"
        />
      </div>
      <div class="input-container">
        <input
          type="password"
          id="loginPassword"
          class="typo2t6"
          placeholder="Password"
          name="password"
          [(ngModel)]="inputPassword"
          required
          minlength="6"
        />
        <div
          *ngIf="
            myForm.invalid &&
            myForm.submitted 
          "
          id="passwordError"
          class="input-error"
        >
          Email or Password is wrong
        </div>
        <img
          class="login-img"
          src="./assets/img/schloss-logo.png"
          alt="password-logo"
        />
      </div>
    </div>
    <div class="login-submit">
      <button type="submit" class="btn-login btnTextStyle">Log In</button>
      <button type="button" (click)="loginGuest()" class="login-guest btnTextStyle btn-login">
        Guest Log In
      </button>
    </div>
  </form>
  <app-footer></app-footer>
</div>
