@import "../../styles.scss";
@import "../../mixin.scss";
@import "../../globalStyles.scss";

app-header {
  width: 100%;
  min-height: 128px;
}

.main-container {
  position: relative;
}

.login-form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  opacity: 1;
  padding: 36px 109px;
  gap: 24px;
  border-radius: 30px;
  background: $white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  transition: opacity 1s ease-in-out 500ms;
}

.input-headline {
  @include dFlex($fDirection: column, $gap: 16px);
}

.typo2t1 {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 56.4px !important;
  font-size: 47px;
}

hr {
  width: 150px;
  border: 2px solid $lightblue;
  border-radius: 3px;
}

.login {
  @include dFlex($fDirection: column, $justify: unset, $gap: 32px);
}

.input-container {
  width: 422px;
  height: 51px;
  position: relative;

  .input-error {
    color: red;
    font-size: 0.8em;
  }
}

input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px;
  outline: none;

  &::placeholder {
    color: #bdbdbd;
    font-family: "Inter" !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }
}

.content-login {
  @include dFlex($fDirection: column);
  height: 100vh;
}

.login-img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.login-submit {
  padding-top: 16px;
  width: 335px;
  @include dFlex($fDirection: row, $justify: space-evenly);
}

button {
  background-color: #2a3647;
  border: none;
  border-radius: 8px;
  padding: 4px 16px;
  color: #ffffff;
}

.login-guest {
  width: 151px;
  height: 51px;
  background-color: #ffffff;
  color: #2a3647;
  border: 1px solid #2a3647;
  padding: 4px 16px;
}


@media (max-width: 1000px) {
  app-header {
    min-height: 128px;
  }

  .main-container {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .login-submit {
    flex-direction: column;
    gap: 21px;
  }

  .btn-login {
    width: 180px;
  }

  .login-guest {
    width: 180px;
  }
}

@media (max-width: 720px) {

  .login-form {
    padding: 32px 32px;
  }
  
  .input-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .login-form {
    padding: 32px 0px;
  }
}
