<div class="modal-content">
  <div (click)="helpers.closeModal()" class="modal-close">
    <img src="./assets/img/close-icon.png" alt="close-icon" />
  </div>
  <h4
    [style.backgroundColor]="helpers.currentTask.categoryColor"
    class="modal-category"
  >
    {{ helpers.currentTask.category }}
  </h4>
  <h3 class="modal-title">{{ helpers.currentTask.title }}</h3>
  <p class="modal-text">{{ helpers.currentTask.description }}</p>
  <p class="modal-date"><b>Due date:</b> {{ helpers.currentTask.date }}</p>

  <div class="modal-element">
    <b>Priority:</b>

    <span id="priority">
      @if(helpers.currentTask.priority ==='low'){
      <b>Low</b>
      <img style="width: 20px" src="../../../../assets/img/icons/low.png" />
      }@else if (helpers.currentTask.priority ==='medium') {
      <b>Medium</b>
      <img style="width: 20px" src="../../../../assets/img/icons/medium.png" />
      }@else {
      <b>Urgent</b>
      <img style="width: 20px" src="../../../../assets/img/icons/urgent.png" />
      }
    </span>
  </div>

  <div class="modal-element">
    <p><b>Assigned To:</b></p>
  </div>

  <div class="modal-members">
    <div *ngFor="let member of helpers.currentTask?.assigendTo">
      <Span class="assinged-person" [style.backgroundColor]="member.color"
        >{{ member.firstName | getInitals
        }}{{ member.lastName | getInitals }}</Span
      >
      <Span class="members-name"
        >{{ member.firstName }} {{ member.lastName }}
      </Span>
    </div>
  </div>

  <div class="modal-element">
    <p><b>Subtasks:</b></p>
  </div>
  <div class="modal-subtasks">
    <div
      *ngFor="let subtask of helpers.currentTask?.subtasks; let i = index"
      class="todo-subtask"
    >
      <input
        type="checkbox"
        id="subtask{{ i }}"
        [checked]="subtask.check"
        #subtaskCheckbox
        (change)="
          updateSubtaskStatus(helpers.currentTask, i, subtaskCheckbox.checked)
        "
      />
      <label for="subtask{{ i }}">{{ subtask.task }}</label>
    </div>
  </div>

  <div class="modal-actions">
    <div (click)="deleteTask(helpers.currentTask)">
      <img src="./assets/img/delete.png" alt="delete-icon" />
      <span>Delete</span>
    </div>
    <span>|</span>
    <div (click)="editTask()">
      <img src="./assets/img/edit.png" alt="edit-icon" />
      <span>Edit</span>
    </div>
  </div>
</div>
