@import "../../../../../mixin.scss";
@import "../../../../../globalStyles.scss";
@import "../../../../../styles.scss";

.todo-box {
  width: 250px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;

  transition: all 0.2s ease-in-out;
  &:hover {
    transform: rotate(2deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.changeCategory {
  cursor: default;
  display: none;
}

.arrow {
  width: 28px;
  height: 28px;
  padding: 2px;
  border-radius: 360px;
  &:hover {
    background-color: $background-grey-hover;
  }
}

.todo-box-header {
  display: inline-block;
  background-color: #29abe2;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  padding: 4px 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.todo-box-title {
  font-size: 16px;
  font-weight: 600;
  color: #2a3647;
  margin-bottom: 20px;
  cursor: pointer;
}

.todo-box-body {
  color: #d1d1d1;
  cursor: pointer;
  max-height: 210px;
  overflow-y: auto;
  cursor: pointer;
  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: $background-white;
  }

  &::-webkit-scrollbar-thumb {
    background: $background-grey-hover;
    border-radius: 3px;
  }
}

.todo-box-progress {
  @include dFlex(baseline, space-between, row);
  font-size: 10px;
}

.todo-box-progress-bar {
  width: 70%;
  height: 10px;
  background-color: #d1d1d1;
  border-radius: 10px;
  margin-top: 5px;
}

.todo-box-progress-bar-fill {
  width: 33%;
  height: 100%;
  background-color: #29abe2;
  border-radius: 10px;
}

.todo-box-footer-bar {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.todo-box-footer {
  @include dFlex(center, space-between);
  width: 100%;
  height: 35px;
  border-radius: 50%;
  margin-top: 20px;
  cursor: pointer;
}

.todo-box-footer-right {
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.todo-icon-name {
  @include dFlex(center, center, row);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #800080;
  margin-left: -10px;
}

.drag-area {
  position: relative;
  height: 600px;
  width: 250px;
}

#showTodo {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 333;
}

@media (max-width: 1024px) {
  .changeCategory {
    display: unset;
    position: absolute;
    top: 10px;
    right: 8px;
    z-index: 1;
    cursor: pointer;
  }
}
