@import "../../../../mixin.scss";
@import "../../../../globalStyles.scss";
@import "../../../../styles.scss";

#kanban-board {
    @include dFlex(center, flex-start);
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
  #kanban-board::-webkit-scrollbar {
    display: none;
  }
  
  .board-body-container {
    @include dFlex(center, unset, row, 50px);
    width: 80%;
  }
  
  .board-body-haeder {
    @include dFlex(unset, space-between, row);
    width: 260px;
  }
  

.drag-area {
    position: relative;
    height: 600px;
    width: 250px;
  }
  
  #showTodo {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 333;
  }