@import "../../../../mixin.scss";
@import "../../../../globalStyles.scss";
@import "../../../../styles.scss";

#kanban-board {
  @include dFlex(flex-start, unset, row, 50px);
    width: 100%;
    height: 100%;
    padding-bottom: 32px;
  }
  
  #kanban-board::-webkit-scrollbar {
    display: none;
  }
  
  .board-body-container {
    @include dFlex(center, unset, row, 50px);
    width: 80%;
  }
  
  .board-body-haeder {
    @include dFlex(unset, space-between, row);
    width: 260px;
  }
  

.drag-area {
    position: relative;
height: 100%;
    width: 250px;
  }
  
