<div id="kanban-board">
  <div class="board-body board-todo column">
    <div class="board-body-header">
      <h3>Todo</h3>
      <img
        (click)="helpers.openAddTaskModal('todo')"
        style="cursor: pointer"
        src="./assets/img/add-icon.png"
      />
    </div>
    <div id="openEmptyFrame" class="nextPosition emptyFrame display-none"></div>
    <div
      id="open"
      class="drag-area"
      cdkDropList
      [cdkDropListData]="todos"
      [cdkDropListConnectedTo]="['inProgress', 'feedback', 'done']"
      (cdkDropListDropped)="drop($event)"
    >
      <app-todo-box
        *ngFor="let task of todos; let i = index"
        cdkDrag
        (cdkDragStarted)="onDragStart($event)"
        (cdkDragEnded)="onDragEnd($event)"
        [task]="task"
        [arrayName]="'todos'"
      ></app-todo-box>
    </div>
  </div>

  <div class="board-body board-in-progress column">
    <div class="board-body-header">
      <h3>In progress</h3>
      <img
        (click)="helpers.openAddTaskModal('in-progress')"
        style="cursor: pointer"
        src="./assets/img/add-icon.png"
      />
    </div>
    <div
      id="inProgress"
      class="drag-area"
      cdkDropList
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="['open', 'feedback', 'done']"
      (cdkDropListDropped)="drop($event)"
      cdk-scrollable
    >
      <app-todo-box
        *ngFor="let task of inProgress; let i = index"
        cdkDrag
        (cdkDragStarted)="onDragStart($event)"
        (cdkDragEnded)="onDragEnd($event)"
        [task]="task"
        [arrayName]="'inProgress'"
        cdk-scrollable
      ></app-todo-box>
    </div>
  </div>

  <div class="board-body board-awaiting-feedback column">
    <div class="board-body-header">
      <h3>Awaiting Feedback</h3>
      <img
        (click)="helpers.openAddTaskModal('awaiting-feedback')"
        style="cursor: pointer"
        src="./assets/img/add-icon.png"
      />
    </div>
    <div
      id="feedbackEmptyFrame"
      class="nextPosition emptyFrame display-none"
    ></div>
    <div
      id="feedback"
      class="drag-area"
      cdkDropList
      [cdkDropListData]="awaitingFeedback"
      [cdkDropListConnectedTo]="['open', 'inProgress', 'done']"
      (cdkDropListDropped)="drop($event)"
      cdkScrollable
    >
      <app-todo-box
        *ngFor="let task of awaitingFeedback; let i = index"
        cdkDrag
        (cdkDragStarted)="onDragStart($event)"
        (cdkDragEnded)="onDragEnd($event)"
        cdkScrollable
        [task]="task"
        [arrayName]="'awaitingFeedback'"
      ></app-todo-box>
    </div>
  </div>

  <div class="board-body board-done column">
    <div class="board-body-header">
      <h3>Done</h3>
      <img
        (click)="helpers.openAddTaskModal('done')"
        style="cursor: pointer"
        src="./assets/img/add-icon.png"
      />
    </div>
    <div
      id="done"
      class="drag-area"
      cdkDropList
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="['open', 'inProgress', 'feedback']"
      (cdkDropListDropped)="drop($event)"
      cdkScrollable
    >
      <app-todo-box
        *ngFor="let task of done; let i = index"
        cdkDrag
        (cdkDragStarted)="onDragStart($event)"
        (cdkDragEnded)="onDragEnd($event)"
        cdkScrollable
        [task]="task"
        [arrayName]="'done'"
      ></app-todo-box>
    </div>
  </div>
</div>
