<div class="main-container">
  <app-header></app-header>
  <form
    class="sign-up-form"
    #myForm="ngForm"
    (ngSubmit)="onSubmit(myForm)"
    id="sign-up-form"
  >
    <div onclick="window.location.href = 'index.html'" class="back">
      <img src="./assets/img/back-icon.png" alt="back" />
    </div>
    <h1 class="typo2t1">Sign Up</h1>
    <hr class="form-hr" />
    <div class="input-container">
      <input
        class="inputTextStyle"
        type="text"
        id="signupName"
        name="name"
        placeholder="Name"
        [(ngModel)]="username"
        pattern="^[a-zA-Z]+ [a-zA-Z]+$"
        required
        minlength="4"
      />
      <div
        *ngIf="
          myForm.form.controls['name']?.invalid &&
          myForm.form.controls['name']?.touched
        "
        id="nameError"
        class="input-error"
      >
        Please enter a first- and lastname: John Doe
      </div>
      <img
        class="login-img"
        src="./assets/img/member-icon-klein.png"
        alt="name"
      />
    </div>
    <div class="input-container">
      <input
        class="inputTextStyle"
        type="text"
        id="signupEmail"
        name="email"
        [(ngModel)]="inputMail"
        placeholder="email@youremail.com"
        email
        required
        minlength="5"
        [pattern]="authService.emailRegex"
      />
      <div
        *ngIf="
          myForm.controls['email']?.invalid &&
          myForm.form.controls['email']?.touched
        "
        id="emailError"
        class="input-error"
      >
        Please enter a valid Email
      </div>
      <img
        class="login-img"
        src="./assets/img/email-logo.png"
        alt="email-logo"
      />
    </div>

    <div class="input-container">
      <input
        class="inputTextStyle"
        type="password"
        id="signupPassword"
        name="password"
        placeholder="password"
        name="password"
        [(ngModel)]="inputPassword"
        required
        minlength="8"
      />
      <div
        *ngIf="
          myForm.controls['password']?.invalid &&
          myForm.form.controls['password']?.touched
        "
        class="input-error"
      >
        Please choose a longer password
      </div>
      <img
        class="login-img"
        src="./assets/img/schloss-logo.png"
        alt="password-logo"
      />
    </div>
    <div class="input-container">
      <input
        class="inputTextStyle"
        type="password"
        id="repeatPassword"
        name="repeatPassword"
        placeholder="Cofirm Password"
        [(ngModel)]="repeatPassword"
        required
        minlength="8"
      />
      <div
        *ngIf="
          myForm.form.controls['repeatPassword']?.touched &&
          inputPassword !== repeatPassword
        "
        class="input-error"
      >
        Passwords do not match
      </div>
      <img
        class="login-img"
        src="./assets/img/schloss-logo.png"
        alt="password-logo"
      />
    </div>
    <div class="login-submit">
      <button
        type="submit"
        id="loginButton"
        class="btn-login-singup signup-btn"
      >
        Sign up
      </button>
      <img
        id="loginImage"
        src="./assets/img/erfolgreicheingelogt.png"
        style="display: none"
      />
    </div>
  </form>
  <app-msg-box [@openClose]="helpers.isOpen ? 'open' : 'closed'"></app-msg-box>
  <app-footer></app-footer>
</div>
