@import '../login.component.scss';
@import "../../../mixin.scss";
@import "../../../globalStyles.scss";
@import "../../../styles.scss";


.sign-up-form {
    @include dFlex($fDirection: column,$justify:unset, $gap: 24px );
    position: relative;
    width: 652px;
    height: 557px;
    padding: 36px ;
    border-radius: 30px;
    background: $white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  }
  
  .signup-btn {
    width: 145px;
    height: 51px;
    font-size: 21px;
    font-weight: 700;
  
    &:hover {
      background-color: #29abe2;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
    
  .back {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }

  /* =======SignUpMobile========== */
@media (max-width: 1000px) {
  .sign-up-form {
    width: 70%;
  }

  .sign-up-form h1 {
    font-size: 46px;
  }

  .forgot-password {
    width: 70%;
  }

  .forgot-password h1 {
    font-size: 3rem;
  }

  .new-pw {
    width: 70%;
  }

  .new-pw h1 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .sign-up-form {
    width: 80%;
  }



  .forgot-password {
    width: 80%;
  }

  .forgot-password h1 {
    font-size: 2rem;
    text-align: center;
  }

  .new-pw {
    width: 80%;
  }

  .new-pw h1 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {

  input{
    &::placeholder{
      font-size: 16px !important;
    }
  }
  .sign-up-form {
    width: 90%;
    padding: 36px 30px;
  }

  .input-container {
    width: 100%;
  }


}