<div class="main-container">
  <app-header></app-header>
  <form
    class="sign-up-form"
    #myForm="ngForm"
    (ngSubmit)="onSubmit(myForm)"
    id="sign-up-form"
  >
    <div onclick="window.location.href = 'index.html'" class="back">
      <img src="./assets/img/back-icon.png" alt="back" />
    </div>
    <h1>Sign Up</h1>
    <hr class="form-hr" />
    <div class="input-container">
      <input
        class="inputTextStyle"
        type="text"
        id="signupName"
        name="name"
        placeholder="Name"
        [(ngModel)]="username"
        required
        minlength="2"
      />
      <div
        *ngIf="
          myForm.form.controls['name']?.invalid &&
          myForm.form.controls['name']?.touched
        "
        id="nameError"
        class="input-error"
      ></div>
      <img
        class="login-img"
        src="./assets/img/member-icon-klein.png"
        alt="name"
      />
    </div>
    <div class="input-container">
      <input
        class="inputTextStyle"
        type="text"
        id="signupEmail"
        name="email"
        [(ngModel)]="inputMail"
        placeholder="email@youremail.com"
        email
        required
        minlength="5"
        [pattern]="authService.emailRegex"
      />
      <div
        *ngIf="
          myForm.controls['email']?.invalid &&
          myForm.form.controls['email']?.touched
        "
        id="emailError"
        class="input-error"
      ></div>
      <img
        class="login-img"
        src="./assets/img/email-logo.png"
        alt="email-logo"
      />
    </div>

    <div class="input-container">
      <input
        class="inputTextStyle"
        type="password"
        id="signupPassword"
        name="password"
        placeholder="password"
        name="password"
        [(ngModel)]="inputPassword"
        required
        minlength="8"
      />
      <div id="passwordError" class="input-error"></div>
      <img
        class="login-img"
        src="./assets/img/schloss-logo.png"
        alt="password-logo"
      />
    </div>
    <div class="login-submit">
      <button
       type="submit"
        id="loginButton"
        class="btn-login-singup signup-btn"
      >
        Sign Up
      </button>
      <img
        id="loginImage"
        src="./assets/img/erfolgreicheingelogt.png"
        style="display: none"
      />
    </div>
  </form>
  <app-footer></app-footer>
</div>
