@import "../../../styles.scss";
@import "../../../mixin.scss";
@import "../../../globalStyles.scss";
@import "../login.component.scss";

header {
  position: relative;
  @include dFlex($justify: flex-end);
  opacity: 1;
  padding: 32px 64px 0px;
}

.animation-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $background-white;
}

.logo-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: ease-out 500ms;
}

.logo-image-singup {
  position: absolute;
  width: 100px;
  left: 5%;
  top: 10%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: ease-out 500ms;
}

.relative-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1000px) {
  header {
    padding: 0;
  }

  .logo-image-singup {
    position: sticky;
    width: 60px;
    left: 15%;
  }
}
