@if (router.url == '/login') {
<img
  [@introAnimation]="{
    value: backGroundAnimation ? 'start' : 'end',
    params: {
      leftEnd: responsiveService.isSmallScreen ? '15%' : '5%',
      widthStart: responsiveService.isSmallScreen ? '120px' : '274px',
      widthEnd: responsiveService.isSmallScreen ? '60px' : '100px',
    }
  }"
  class="logo-image"
  src="./assets/img/join-logo-gross-dunkel.svg"
/>
}@else {
<img class="logo-image-singup" src="./assets/img/join-logo-gross-dunkel.svg" />
}

<header>
  <div
    *ngIf="router.url !== '/singUp'"
    [@introAnimation]="backGroundAnimation ? 'visable' : 'unvisable'"
    class="animation-background"
  ></div>

  <app-not-ajoin-user
    *ngIf="router.url !== '/singUp' && !responsiveService.isSmallScreen"
  ></app-not-ajoin-user>
</header>

