<header>
  <div id="img-container" class="img-container">
    @if(router.url === '/login'){
    <img
      [@introAnimation]="{
        value: backGroundAnimation ? 'start' : 'end',
        params: {
          scale1: 2.5,
          scale2:  1,
          left: responsiveService.isSmallScreen ? '40%' : '47%',
          translateY1: responsiveService.isSmallScreen ? '200%' : '100%',
          translateY2: responsiveService.isSmallScreen ? '0%' : '-25%',
        }
      }"
      id="logo-image"
      class="logo-image"
      src="./assets/img/join-logo-gross-dunkel.svg"
    />
    }@else {
    <img
      id="logo-image"
      class="logo-image"
      src="./assets/img/join-logo-gross-dunkel.svg"
    />
    }
    <div
      *ngIf="router.url !== '/singUp'"
      [@introAnimation]="backGroundAnimation ? 'visable' : 'unvisable'"
      class="animation-background"
    ></div>
  </div>

  <app-not-ajoin-user
    *ngIf="router.url !== '/singUp' && !responsiveService.isSmallScreen"
  ></app-not-ajoin-user>
</header>
