<header>
  <div id="img-container" class="img-container">
    @if(router.url !== '/singUp'){
    <img
      [@introAnimation]="backGroundAnimation ? 'start' : 'end'"
      id="logo-image"
      class="logo-image"
      src="./assets/img/join-logo-gross-dunkel.svg"
    />
    }@else {
    <img
      id="logo-image"
      class="logo-image"
      src="./assets/img/join-logo-gross-dunkel.svg"
      style="top: 100%"
    />
    }
  </div>
  <div
    *ngIf="router.url !== '/singUp'"
    [@introAnimation]="backGroundAnimation ? 'visable' : 'unvisable'"
    class="animation-background"
  ></div>
  <div *ngIf="router.url !== '/singUp'" class="login-header-signup">
    <p>Not a Join user?</p>
    <button routerLink="/singUp" class="btn-login-singup btnTextStyle">
      Sign up
    </button>
  </div>
</header>
