<div class="main-container">
  <div class="board-content">
    <div class="board-header">
      <h1>Board</h1>
      <div class="board-header-search">
        <div class="input-container">
          <input
            type="text"
            id="searchInput"
            (input)="searchTasks($event)"
            placeholder="Search for tasks..."
          />
          <img class="search-img" src="./assets/img/search-icon-schwarz.png" />
          <hr class="search-img-hr" />
        </div>
        <button
          (click)="helpers.openAddTaskModal('todo')"
          id="addTaskOnBoard"
          class="board-button"
        >
          <span id="btn-add-board">Add Task</span> +
        </button>
      </div>
    </div>

    <app-drag-area
      [todos]="filteredTodos"
      [inProgress]="filteredInProgress"
      [awaitingFeedback]="filteredAwaitingFeedback"
      [done]="filteredDone"
    >
    </app-drag-area>
  </div>
  <div>
    <div
      (click)="helpers.closeModal()"
      id="showTodo"
      [@modalToggleAnimation]="
        helpers.modalControls.modalToggleAnimation ? 'visable' : 'unvisable'
      "
    ></div>
    <app-task-modal
      [@modalToggleAnimation]="
        helpers.modalControls.modalToggleAnimation ? 'open' : 'closed'
      "
    ></app-task-modal>

    <div id="addTaskPopup" style="display: flex">
      <div class="popupAnimation" id="addTaskPopupContainer">
        <img
          id="add-task-close-button"
          src="assets/img/icons/dropdown-close-button.svg"
        />
      </div>
    </div>
  </div>
</div>
