@import "../../../mixin.scss";
@import "../../../globalStyles.scss";
@import "../../../styles.scss";

.main-container {
  justify-content: flex-start;
}

.board-content {
  @include dFlex(unset, unset, column, 32px);
  width: 80%;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.board-header {
  @include dFlex(center, space-between, row);
  width: 90%;
  height: 160px;
  margin-top: 128px;
  h1 {
    font-size: 61px;
    font-weight: 700;
  }
}


.board-header .board-header-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}


.input-container {
  height: 51px;
  position: relative;
  width: 368px;
}

#searchInput {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 13px 21px;
  outline: none;
  border: none;
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #bdbdbd;
  }
  
}
.search-img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.search-img-hr {
  width: 1px;
  height: 30px;
  background-color: #d1d1d1;
  position: absolute;
  right: 50px;
  top: 25%;
  border: none;
}

.board-button {
  width: 137px;
  height: 51px;
  background-color: #2a3647;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


#showTodo {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 333;
}

app-task-modal {
  position: absolute;
  @include dFlex(center, center);
}

/* ==================RESPONSIVE=========================== */
@media (max-width: 1450px) {


  .board-header {
    align-self: flex-start;
  }
}

@media (max-width: 1333px) {


  .input-container {
    width: 422px;
  }

  .board-content {
    margin-left: 0;
  }

 .board-header {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    height: 250px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .board-content {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .input-container {
    width: 95% !important;
  }

  .board-header-search {
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 10px;
  }

  #btn-add-board {
    display: none;
  }

  .board-button {
    width: 50px;
    height: 50px;
  }

  .input-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .headline {
    font-size: 3rem;
  }
}


@media (max-width: 350px) {
  body * {
    font-size: 16px;
  }
}
