@import "../../../../mixin.scss";
@import "../../../../globalStyles.scss";
@import "../../../../styles.scss";



#contact-content {
  @include dFlex(unset, unset, column, 60px);
  position: relative;
  transition: all 0.125s ease-in;
}
#contacts-headline {
  @include dFlex(flex-start, flex-start, column, 16px);
  display: none;
}

.headline-name {
  font-size: 47px;
  font-weight: 700;
  line-height: 56.4px;
}

.headline-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

hr {
  width: 90px;
  height: 3px;
  background-color: #29abe2;
  border: none;
  border-radius: 3px;
}

#back-to-contacts {
  display: none;
  cursor: pointer;
}

.contact-header {
  @include dFlex(center, flex-start, $gap: 54px);
}

.contact-header-circle {
  @include dFlex(center, center);
  width: 120px;
  height: 120px;
  background-color: #29abe2;
  border-radius: 50%;
  color: #ffffff;
  font-size: 47px;
}


.contact-header-name {
  font-size: 47px;
  font-weight: 500;
}

.contact-header-actions {
  @include dFlex(flex-start, flex-start, row, 50px);
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}

.action-btn {
  @include dFlex();
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  &:hover  {
    color: $lightblue;
  }
}


.icons {
  object-fit: cover;
  height: 20px;
  width: 20px;
}


.btn-mobile {
  @include dFlex(unset, flex-start, row, 20px);
  width: 100%;
  display: none;
}


.delete-contact {
  width: 138px;
  height: 57px;
  font-size: 20px;
  background-color: #ffffff;
  color: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;
  padding: 4px 16px;
  cursor: pointer;
}

.create-contact {
  @include dFlex(center, space-evenly, row);
  width: 211px;
  height: 56px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: #2a3647;
  color: #ffffff;
  cursor: pointer;
}


.contact-body {
  @include dFlex(unset, flex-start, column, 22px);
}
.contact-body-header {
  @include dFlex(flex-start, baseline, row, 90px);
}

.contact-body-header-title {
  font-size: 20px;
  font-weight: 400;
}

.contact-body-item {
  @include dFlex(flex-start, unset, column, 15px);
}

.contact-body-item-title {
  font-size: 16px;
  font-weight: 700;
}

.contact-body-item-value-email {
  color: #29abe2;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}



@media (max-width: 1024px) {
  .btn-mobile {
    @include dFlex(center, space-between, row);
    position: absolute;
    bottom: 8px;
    transform: translate(50%, -50%);
    right: 50%;
  }
  .contact-header-actions {
    display: none;
  }
  #back-to-contacts {
    display: unset;
    position: absolute;
    top: 34px;
    right: 32px;
  }

  #contacts-headline {
    display: flex;

  }

  .headline-name{
    line-height: unset;
  }

  .contact-header{
    padding-top: 16px;
  }
  #contact-content {
    align-items: flex-start;
    height: 100%;
    padding-top: 48px;
  }
}


@media (max-width: 720px) {
  .main-container {
    width: 100vw;
  }

  #contact-content {
    padding: 16px;
    width: 80%;
  }

  .contact-header {
    gap: 20px;
  }

  .contact-header-circle {
    width: 80px;
    height: 80px;
    font-size: 27px;
    border: 3px solid white;
  }

  .contact-header-name {
    font-size: 36px;
    font-weight: 700;
  }

  .btn-mobile {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;

    button {
      width: 144px;
      height: 48px;
      font-size: 16px;
    }
  }
}
@media (max-width: 500px) {

  #contacts-headline{
    gap: 6px;
  }

  .headline-name{
    font-size: 32px;
  }

  .headline-text{
    font-size: 16px;
  }
  
  .contact-header-name{
    font-size: 22px;
  }

  .contact-header-circle{
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  #contact-content{
    width: 100%;
    gap: 16px;
  }
}
