// Hauptfarben
$background-white: #f6f7f8;
$background-dark: #2a3647;
$background-dark-active: #091931;
$font-color-not-active: #cdcdcd;
$background-dark-hover: #2a3d59;
$background-grey-hover: #d1d1d1;
// Farbe für Dropdown
// $lightpurple: #8aa4ff;
$red: #ff0000;
$green: #2ad300;
$orange: #ff8a00;
$purple: #e200be;
// $darkblue: #0038ff;
$mint: #1fd7c1;
$pink: #fc71ff;
// Schriftfarben
$white: rgba(251, 251, 251);
$black: rgba(0, 0, 0);
$icon: rgb(168, 168, 168);
$lightBlack: #42526e;
// Hintergrundfarben
$darkblue: #2a3647;
$lightgrey: rgb(246, 247, 248);
$lightblue: rgb(41, 171, 226);
// Button-Farben
$darkblueblue: rgb(9, 25, 49);
// Prio-Farben
$prio-red: #ff3d00;
$prio-orange: #ffa800;
$prio-green: #7ae229;
// Definierung der Farbvariablen
$color-red: #ff0000;
$color-black: #000000;
$color-green: #35f500;
$color-blue: #0000ff;
$color-yellow: #ffff00;
$color-purple: #800080;

// Font-sizes

$mobileFontSizeMain: 16px;

// Hintergrundfarben-Klassen
.bg-color-red {
  background-color: $color-red;
}

.bg-color-black {
  background-color: $color-black;
}

.bg-color-green {
  background-color: $color-green;
}

.bg-color-blue {
  background-color: $color-blue;
}

.bg-color-yellow {
  background-color: $color-yellow;
}

.bg-color-purple {
  background-color: $color-purple;
}

// Kategorien-Hintergrundfarben-Klassen

.bg-cat-color-lightblue {
  background-color: $lightblue;
}

.bg-cat-color-red {
  background-color: $red;
}

.bg-cat-color-green {
  background-color: $green;
}

.bg-cat-color-orange {
  background-color: $orange;
}

.bg-cat-color-purple {
  background-color: $purple;
}

.bg-cat-color-darkblue {
  background-color: $darkblue;
}

/* -----------------helpers------------------- */

.display-none {
  display: none !important;
}

.display-unset {
  display: unset !important;
}
.display-flex {
  display: flex !important;
}

.opacity {
  opacity: 1 !important;
}

.opacity-none {
  opacity: 0 !important;
}

/* --------------fontstyles---------------- */

.typo2Body {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
}

.typo2BodyV2 {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.typo2t1 {
  font-family: "Inter";
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 73.2px;
}

.inputTextStyle {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.txtBlack {
  color: $black;
}

.txtWhite {
  color: $white;
}

.txtGrey {
  color: $icon;
}

// ---------------------Buttons------------------

button {
  cursor: pointer;
}

.signup-btn {
  width: 145px;
  height: 51px;
  font-size: 21px;
  font-weight: 700;

  &:hover {
    background-color: $lightblue;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.btn-login {
  width: 91px;
  height: 51px;

  &:hover {
    background: $lightblue;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: $background-grey-hover;
  }
}

.btnTextStyle {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

// Scrollbar

.scrollbar-main {
  // overflow x or y : scroll

  &::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
  }

  &::-webkit-scrollbar-track {
    background: $background-grey-hover;
  }

  &::-webkit-scrollbar-thumb {
    background: $background-dark-hover;
    border-radius: 3px;
  }
}

 /* classes for the small color circles */

 $circle-size: 20px;
 $circle-radius: 50%;

 .circle-pink {
   height: $circle-size;
   width: $circle-size;
   border-radius: $circle-radius;
   background-color: $pink;
 }

 .circle-mint {
   height: $circle-size;
   width: $circle-size;
   border-radius: $circle-radius;
   background-color: $mint;
 }

 .circle-lightblue {
   height: $circle-size;
   width: $circle-size;
   border-radius: $circle-radius;
   background-color: $lightblue;
 }

 .circle-red {
   height: $circle-size;
   width: $circle-size;
   border-radius: $circle-radius;
   background-color: $red;
 }

 .circle-green {
   height: $circle-size;
   width: $circle-size;
   border-radius: $circle-radius;
   background-color: $green;
 }

 .circle-orange {
   height: $circle-size;
   width: $circle-size;
   border-radius: $circle-radius;
   background-color: $orange;
 }

 .circle-purple {
   height: $circle-size;
   width: $circle-size;
   border-radius: $circle-radius;
   background-color: $purple;
 }

 .circle-darkblue {
   height: $circle-size;
   width: $circle-size;
   border-radius: $circle-radius;
   background-color: $darkblue;
 }
 .circle-blue {
   height: $circle-size;
   width: $circle-size;
   border-radius: $circle-radius;
   background-color: $color-blue;
 }
