@import "../../styles.scss";
@import "../../mixin.scss";
@import "../../globalStyles.scss";

.content-container {
  @include dFlex(flex-end, flex-start);
  width: 100vw;
  padding-left: 232px;
  padding-top: 90px;
}
