<app-navbar></app-navbar>
<app-panel-header></app-panel-header>

<div class="content-container">
  <app-summary *ngIf="router.url === '/panel/summary'"></app-summary>
  <app-board *ngIf="router.url === '/panel/board'"></app-board>
  <app-add-task *ngIf="router.url === '/panel/add-task'"></app-add-task>
  <app-contacts *ngIf="router.url === '/panel/contacts'"></app-contacts>
  <app-legal-notice *ngIf="router.url === '/panel/legal-notice'"></app-legal-notice>
  <app-msg-box [@openClose]="helpers.isOpen ? 'open' : 'closed'"></app-msg-box>
</div>
