@import "../../styles.scss";
@import "../../mixin.scss";
@import "../../globalStyles.scss";

.content-container {
  @include dFlex(flex-end, flex-start);
  width: 100vw;
  height: 100vh;
  padding-left: 232px;
  padding-top: 90px;
}

@media(max-width:1024px){
  .content-container {
    @include dFlex(flex-end, center);
    padding-top: 81px;
    padding-left: 0px;

  }
  
}