<div class="main-container">
  <div class="summary-content">
    <div class="summary-haeder">
      <h1 class="summary-h1">Join 360</h1>
      <hr />
      <p class="summary-p">Key Metrics at a Glance</p>
    </div>
    <div class="summary-container">
      <div class="summary-body">
        <div class="summary-tasks">
          <div routerLink="/panel/board" class="summary-task">
            <h1 id="task-in-board">{{ docCounter }}</h1>
            <p>Tasks in Board</p>
          </div>
          <div routerLink="/panel/board" class="summary-task">
            <h1 id="task-in-progress">{{ inProgressCounter }}</h1>
            <p>Tasks In Progress</p>
          </div>
          <div routerLink="/panel/board" class="summary-task">
            <h1 id="task-in-feedback">{{ awaitingFeedbackCounter }}</h1>
            <p>Awaiting Feedback</p>
          </div>
        </div>
        <div routerLink="/panel/board" class="summary-date">
          <div class="summary-icon-urgent">
            <img src="./assets/img/urgent.svg" alt="" />
          </div>
          <div class="summary-display">
            <h1>{{ urgentCounter }}</h1>
            <p>Urgent</p>
          </div>
          <hr class="summary-date-hr" />
          <div>
            <h2>December 31, 2026</h2>
            <p>Upcoming Deadline</p>
          </div>
        </div>
        <div routerLink="/panel/board" class="summary-todos">
          <div routerLink="/panel/board" class="summary-todo">
            <div class="summary-todo-icon">
              <img
                class="summary-todo-icon-pen"
                src="./assets/img/stift.svg"
                alt=""
              />
            </div>
            <div class="summary-display">
              <h1>{{ todoCounter }}</h1>
              <p>Todo</p>
            </div>
          </div>
          <div routerLink="/panel/board" class="summary-todo">
            <div class="summary-todo-icon">
              <img src="./assets/img/chack.svg" alt="" />
            </div>
            <div class="summary-display">
              <h1>{{ doneCounter }}</h1>
              <p>Done</p>
            </div>
          </div>
        </div>
      </div>
      <div class="summary-greeting">
        <p>{{ generateGreeting() }}</p>
        <h2>
          {{ authService.auth.currentUser?.displayName || "" }}
        </h2>
      </div>
    </div>
  </div>
</div>
