@import "../../../mixin.scss";
@import "../../../globalStyles.scss";
@import "../../../styles.scss";

.main-container {
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.animation-container {
  @include dFlex($fDirection: column);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: ease-out 500ms;
  background-color: $background-white;

  & span:first-child {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
    text-align: left;
  }
  & span:last-child {
    font-family: Inter;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    text-align: left;
    color: $lightblue;
  }
}
.summary-content {
  transition: ease-in 500ms;
  padding-top: 89px;
  padding-left: 64px;
  padding-bottom: 64px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.summary-haeder {
  @include dFlex(center, space-between);
  width: 60%;
  height: 73px;
  margin-bottom: 60px;

  h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
  }
}

hr {
  background-color: #29abe2;
  height: 59px;
  width: 3px;
  border: none;
  border-radius: 2px;
}

.summary-p {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}

.summary-container {
  @include dFlex($fDirection: row, $gap: 70px);
}

.summary-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.summary-tasks {
  @include dFlex(center, space-between);
  width: 560px;
  border-radius: 20px;

  h1 {
    font-size: 61px;
  }
}

.summary-task {
  @include dFlex(center, center, column, 10px);
  cursor: pointer;
  width: 168px;
  height: 168px;
  background-color: #ffffff;
  border-radius: 20px;
  transition: 0.125s ease-in-out;

  &:hover {
    background-color: #2a3647;
    color: #ffffff;
    transform: scale(1.03);
    cursor: pointer;
  }
}

.summary-date {
  width: 560px;
  height: 170px;
  border-radius: 20px;
  background-color: #ffffff;
  @include dFlex(center, space-evenly, row);
  transition: 0.125s ease-in-out;

  &:hover {
    background-color: #2a3647;
    color: #ffffff;
    transform: scale(1.03);
    cursor: pointer;
  }
}

.summary-icon-urgent {
  @include dFlex(center, center);
  width: 60px;
  height: 60px;
  background-color: #ff0000;
  border-radius: 50%;
  padding: 10px;
}

.summary-display {
  @include dFlex($fDirection: column);
}

.summary-date-hr {
  width: 3px;
  height: 60px;
  background-color: #d1d1d1;
  border: none;
  border-radius: 2px;
}

.summary-todos {
  @include dFlex(center, space-between, row);
  width: 560px;
}

.summary-todo {
  @include dFlex(center, center, row, 20px);
  width: 264px;
  height: 168px;
  background-color: #ffffff;
  border-radius: 20px;
  transition: 0.125s ease-in-out;

  &:hover {
    background-color: #2a3647;
    color: #ffffff;
    transform: scale(1.03);
    cursor: pointer;
  }
}

.summary-todo-icon {
  width: 60px;
  height: 60px;
  background-color: #2a3647;
  border-radius: 50%;
  @include dFlex();
  padding: 10px;
}

.summary-todo-icon-pen {
  width: 40px;
  height: 40px;
}

.summary-greeting {
  @include dFlex(unset, flex-start, column, 30px);

  h2 {
    font-size: 67px;
    font-weight: 700;
    line-height: 30px;
    color: #29abe2;
  }

  p {
    font-size: 47px;
  }
}

#temp-summary {
  background-color: $background-dark-active;
}

@import './summary.component.mobile.scss'
