<div class="main-container">
  <div class="summary-content">
    <div class="summary-haeder">
      <h1 class="summary-h1">Summary</h1>
      <hr class="summary-trenner" />
      <p class="summary-p">Everything in a nutshell!</p>
    </div>
    <div class="summary-container">
      <div class="summary-body">
        <div class="summary-tasks">
          <div routerLink="/panel/board" class="summary-task">
            <h1 id="task-in-board">{{ docCounter }}</h1>
            <p>Tasks in Board</p>
          </div>
          <div routerLink="/panel/board" class="summary-task">
            <h1 id="task-in-progress">{{ inProgressCounter }}</h1>
            <p>Tasks In Progress</p>
          </div>
          <div routerLink="/panel/board" class="summary-task">
            <h1 id="task-in-feedback">{{ awaitingFeedbackCounter }}</h1>
            <p>Awaiting Feedback</p>
          </div>
        </div>
        <div routerLink="/panel/board" class="summary-date">
          <div class="summary-icon-urgent">
            <img src="./assets/img/urgent.svg" alt="" />
          </div>
          <div class="summary-display">
            <h1 id="task-urgent">{{ urgentCounter }}</h1>
            <p>Urgent</p>
          </div>
          <hr class="summary-date-hr" />
          <div>
            <h2 id="urgent-date">December 31, 2026</h2>
            <p>Upcoming Deadline</p>
          </div>
        </div>
        <div routerLink="/panel/board" class="summary-todos">
          <div routerLink="/panel/board" class="summary-todo">
            <div class="summary-todo-icon">
              <img
                class="summary-todo-icon-stift"
                src="./assets/img/stift.svg"
                alt=""
              />
            </div>
            <div class="summary-display">
              <h1 id="task-todo">{{ todoCounter }}</h1>
              <p>Todo</p>
            </div>
          </div>
          <div routerLink="/panel/board" class="summary-todo">
            <div class="summary-todo-icon">
              <img src="./assets/img/chack.svg" alt="" />
            </div>
            <div class="summary-display">
              <h1 id="task-done">{{ doneCounter }}</h1>
              <p>Done</p>
            </div>
          </div>
        </div>
      </div>
      <div id="summary-greeting" class="summary-greeting">
        <p id="greeting" class="summary-greeting-p">{{ generateGreeting() }}</p>
        <h2 id="summaryGreetingName" class="summary-greeting-h2">{{authService.auth.currentUser?.displayName || ''}}</h2>
      </div>
    </div>
  </div>
</div>
